/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #e60e0e, #051d49);
  color: #ffffff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: rgba(0, 0, 0, 0.2);
}

.logo {
  text-shadow: 4px 4px 0px rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #130101;
}

.auth-buttons button {
  background: transparent;
  color: #fff;
  border: 1px solid #ccc;
  padding: 8px 15px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}
.auth-buttons .signin:hover {
  background-color: #ffffff;
  color: #000;
  border-color: #ffffff;
  transition: 0.3s;
}
.auth-buttons .signup {
  background: transparent;
  color: #fff;
  border: 1px solid #ccc;
  padding: 8px 15px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}
.auth-buttons .signup:hover {
   background-color: #ffffff;
  color: #000;
  border-color: #ffffff;
  transition: 0.3s;
}
/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 50px;
  flex-wrap: wrap;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 16px;
  color: #031935;
  margin-bottom: 30px;
}
.hero-text P {
    color: white;
}
.hero-buttons button {
  padding: 10px 20px;
  margin-right: 15px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

/* Join Now Button */
.hero-buttons .join {
  background-color: rgb(6, 161, 135);
  color: #000;
  transition: 0.3s;
  border: none;
}

.hero-buttons .join:hover {
  background-color: #f9f9f9;
  color: #000;
}

.hero-buttons .join:active {
  background-color: #17a793;
  color: rgb(0, 0, 0);
}

/* Learn More Button */
.hero-buttons .learn {
  background-color:rgb(11, 155, 143);
  border: none;
  color: rgb(0, 0, 0);
  transition: 0.3s;
}

.hero-buttons .learn:hover {
  background-color: white;
  color: #000;
}

.hero-buttons .learn:active {
  background-color: #ccc;
  color: #000;
}


.hero-image img {
  max-width: 450px;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
}


@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-image img {
    margin-top: 30px;
    width: 100%;
    max-width: 350px;
  }
}